<div class="home-slider">
  <div class="images-list">
    <div class="img-item">
      <img src="/images/deals/img1.webp" alt="" />
    </div>
    <div class="img-item">
      <img src="/images/deals/img2.webp" alt="" />
    </div>
    <div class="img-item">
      <img src="/images/deals/img3.webp" alt="" />
    </div>
    <div class="img-item">
      <img src="/images/deals/img4.webp" alt="" />
    </div>
    <div class="img-item">
      <img src="/images/deals/img5.jpg" alt="" />
    </div>
    <div class="img-item">
      <img src="/images/deals/img6.webp" alt="" />
    </div>
  </div>
  <div class="slider-btns">
    <button id="slider-prev-btn"><</button>
    <button id="slider-next-btn">></button>
  </div>
  <ul class="slider-dots">
    <li class="active"></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
