<nav>
  <div class="menu-icon">
    <span class="fas fa-bars"></span>
  </div>
  <div class="logo">TRA<span style="color: orange">DE</span></div>
  <div class="nav-items">
    <li><a href="/">Home</a></li>
    <li><a href="/sell">Sell</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/training">Training</a></li>
    <li id="phonebtn">
      <a href="/contact"><img src="/images/phone-call.png" alt="Phone" /></a>
    </li>
    <li id="cartbtn">
      <a href="/cart"><img src="/images/shopping-cart.png" alt="Cart" /></a>
    </li>
    <% if (isLoggedIn) { %>
    <li id="profilebtn">
      <a href="/profile"><img src="/images/user.png" alt="User" /></a>
    </li>
    <% } else { %>
    <li><a href="/login">Login</a></li>
    <% } %>
  </div>
  <div class="search-icon">
    <span class="fas fa-search"></span>
  </div>
  <div class="cancel-icon">
    <span class="fas fa-times"></span>
  </div>
  <div class="search-box">
    <input
      class="search-data"
      type="text"
      id="input-box"
      placeholder="Search Anything..."
      autocomplete="off"
    />
    <!-- <button>
          <img class="searchimage" src="/images/loupe.png" alt="Search" />
        </button> -->
    <button id="searchbutton" class="fas fa-search"></button>
    <div class="result-box"></div>
  </div>
  <!-- <div class="form">
         <input type="search" class="search-data" id="input-box" placeholder="Search" required>
         <button id="searchbutton" class="fas fa-search"></button>
         <div class="result-box"></div>
      </div> -->
</nav>
