/* Reset and Basic Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 15px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #66bb6a;
}

/* Profile Section Styling */
.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 20px auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  width: 100%;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.profile-picture img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.profile-picture-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  gap: 10px;
}

.edit-profile-button,
.apply-to-sell-button {
  padding: 10px 20px;
  background-color: #66bb6a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  width: 80%;
}
.edit-profile-button:hover,
.apply-to-sell-button:hover {
  background-color: #4caf50;
}

.user-info {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px;
}

.user-info h2,
.user-info p {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: #fff;
  margin-top: auto;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 90%;
  }
  .profile-picture-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
  }
  .profile-picture img {
    width: 120px;
    height: 120px;
  }

  .user-info h2,
  .user-info p,
  .edit-profile-button,
  .apply-to-sell-button {
    font-size: 1.2em;
  }
}

@media (min-width: 768px) {
  .profile-picture {
    width: 40%;
  }
  .profile-image img {
    width: 250px;
    height: 250px;
  }
  .user-info {
    width: 60%;
  }
}
